* {
  box-sizing: border-box;
}

#loader {
  background: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

body {
  margin: 0;
  font-family: 'Source Code Pro';
  background: #000;
  color: #ccc;
  /* font-size: 18px; */
  font-size: 1.3rem;
}

@media (max-width: 718px) {
  body {
    font-size: 1rem;
  }
}

section {
  width: 100%;
  max-width: 1120px;
  margin: 100px auto;
}

h1 {
  font-weight: lighter;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 5px 5px 5px #000;
}

@media (max-width: 718px) {
  h1 {
    font-size: 2rem;
  }
}


h2 {
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 5px 5px 5px #000;
}

@media (max-width: 718px) {
  h2 {
    font-size: 1.25rem;
  }
}

/* section links ------------------------------------------------- */

.clink {
  display: inline-block;
  position: relative;
  width: auto;
  margin-bottom: 12px;
  color: #fff;
  transform: skew(0);
  transition: color .2s ease;
  z-index: 1;
}

.clink a {
  display: inline-block;
  position: relative;
  width: auto;
  color: #fff;
  text-decoration: none;
  transition: color .2s ease;
  /* resets */
  background: transparent;
  border-bottom: none;
  padding-bottom: 0;
  text-shadow: none;
}

.clink a:after {
  display: none;
}

.clink a:hover {
  /* resets */
  color: inherit;
  border-bottom: none;
  background-image: none;
}

.clink:before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: -2px;

  width: 100%;
  height: 95%;

  padding: 0px 2px;

  background-color: #fff;

  z-index: -1;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.clink:after {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  right: -4px;

  width: 2px;
  height: 95%;

  background-color: #fff;

  animation: hdrCursorBlink 1.5s infinite linear;
  transition: right .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes hdrCursorBlink {
  0% { opacity: 0; }
  25% { opacity: 0; }
  26% { opacity: 1; }
  75% { opacity: 1; }
  76% { opacity: 0; }
  100% { opacity: 0; }
}

.clink:hover {
  color: #000;
  transform: skew(-5deg);
  cursor: pointer;
}
.clink:hover a {
  color: #000;
}
.clink:hover:before {
  transform: scaleX(1);
}
.clink:hover:after {
  right: calc(100% + 2px);
}

/* ------------------------------------------- */

.center {
  display: flex;
  justify-content: center;
}

p {
  max-width: 700px;
  padding: 15px;
  text-shadow: 5px 5px 5px #000;
}

.full-width {
  max-width: 100%;
}

code {
  background: #fff;
  color: #000;
  padding: 0.1rem 0.7rem;
  border-radius: 2px;
}

a {
  color: #fff;
}

video, img {
  width: 100%;
}

.video-link::before {
  content: "▸";
  border: 1px solid #fff;
  border-radius: 50%;
  width: 1rem;
  display: inline-block;
  padding-left: 0.6rem;
  padding-bottom: 0.2rem;
  margin-right: 0.4rem;
}

blockquote {
  border: 1px solid #fff;
  padding: 1rem 1.25rem;
  border-top: none;
  border-right: none;
  margin-bottom: 60px;
}

@media (max-width: 718px) {
  blockquote {
    padding: 0 0;
    margin-bottom: 0;
  }
}

blockquote > p {
  max-width: 100%;
  font-style: italic;
}

cite::before {
  content: " — "
}

pre {
  font-size: 0.9rem;
}

@media (max-width: 644px) {
  pre {
    font-size: 0.6rem;
  }
}

.center-text, .center {
  text-align: center;
}

.center-box, .center {
  margin: 0 auto;
}

p.center-box {
  margin: 20px auto;
}

.single, .double, .triple {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.single {
  justify-content: center;
  align-items: center;
}

.double > *:first-child {
  margin-right: 28px;
}

@media (max-width: 1260px) {
  .double, .triple {
    flex-direction: column;
    align-items: center;
  }

  .double > *:first-child {
    margin-right: 0px;
  }
}

.table-of-contents {
  font-size: 2rem;
  font-weight: lighter;
  width: 33rem;
  margin: 0 auto;
}

@media (max-width: 718px) {
  .table-of-contents {
    font-size: 1.3rem;
  }
}
